#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;



}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding: 3rem;
    margin-bottom: 0rem;

}
.skillDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    margin-top: -2rem;

}
.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;


}
.bar{
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background:rgb(50, 50, 50);


}
.skillText{
 text-align: center;

}
.skillText>p{
    font-size: 0.9rem;
    font-weight: 200;
  
}
.name {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);

}
.email {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);

}
.msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);

}
.submitbtn{
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;

}
.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
@media screen and (max-width:720px) {
    .skillText>p{
        font-size: 2vw;
    }
    
}
@media screen and (max-width:480px) {
    .skillText>p{
        font-size: 3vw;
    }
    .skillText>h2{
        font-size: 5vw;
    }
    
}
/* @media screen and (max-width:840px) {
    .name{
        margin-left: 3rem;
    }
    .email{
        margin-left: 3rem;
    }
    .msg{
        margin-left: 3rem;
    }
  
    
} */